@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: white;
  font-family: var(--font-yesevaOne);
}

.night-mode {
  background-color: #111;
  color: white;
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s, transform 2s;
}

.fadeIn.visible {
  opacity: 1;
  transform: translateY(0);
}
