@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: aliceblue;
}

.night-mode {
  background-color: #111;
  color: aliceblue;
}

